<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">UF Textbook Exchange</a>
          </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                
                 <li class="dropdown">
                  <a href="#" class="dropdown-hover" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign In<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Create Account</a></li>
                  </ul>
                </li>

              </ul>
              <form class="navbar-form">
                <div style="display:table;" class="input-group">
                  <span style="width: 1%;" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                  <input type="text" autofocus="autofocus" autocomplete="off" placeholder="Search Here" name="search" style="" class="form-control">
                </div>
              </form>


            </div>
        </div><!--/.container-fluid -->
      </nav>



      <!-- Main component for a primary marketing message or call to action -->
      <div class="row row-offcanvas row-offcanvas-left">

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <h4>Filter By</h4>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              Title
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              Author
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              Class
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              Professor
            </label>
          </div>
     
          <div>
          <label>
              Price
          </label>
          </div>
          <form class="form-inline">
            <div class="col-sm-4 nopadding">  
             

              <label class="sr-only" for="inlineFormInputName2">Name</label>
              <div class="input-group mr-sm-2">
                <input type="text" class="form-control" id="inlineFormInputName2" placeholder="Min">
              </div>



            </div>
            <div class="col-sm-4 nopadding"> 
              <label class="sr-only" for="inlineFormInput">Username</label>            
              <div class="input-group mb-2 mb-sm-0">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Max">
              </div> 
            </div>

          </form>





          
        </div><!--/.sidebar-offcanvas-->

        <div class="col-xs-12 col-sm-9">
          <p class="pull-left visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <nav aria-label="...">
            <ul class="pagination navbar">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item active">
                <span class="page-link">
                  1
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>

            </ul>
            <ul class="pagination navbar-right" >
              <li class="dropdown">
                <a href="#" class="dropdown-hover" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Newest<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Newest</a></li>
                  <li><a href="#">Price: Low to High</a></li>

                  <li><a href="#">Price: High to Low</a></li>
                </ul>
              </li>
            </ul>

          </nav>



          <div class="row">

            <div class="col-lg-4">
              <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block">
                  <img class="img-thumbnail" src="assets/images/a.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block">
                  <img class="img-thumbnail" src="assets/images/a.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block">
                  <img class="img-thumbnail" src="assets/images/a.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block">
                  <img class="img-thumbnail" src="assets/images/a.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block">
                  <img class="img-thumbnail" src="assets/images/a.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block">
                  <img class="img-thumbnail" src="assets/images/a.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        
      </div><!--/row-->

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script>window.__theme = 'bs4';</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
